<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>斯沃德教育科技股份有限公司</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/swiper.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/head.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mstyle.css">
    <!--<link rel="stylesheet" href="css/recruit.css">-->
    <link href="/static/css/css.css" type="text/css" rel="Stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/jquerypage/css/zxf_page.css"/>
    <link rel="stylesheet" href="//img.ifchange.com/toc/custom/base/dist/css/position/list.css">
    <link rel="stylesheet" href="//img.ifchange.com/toc/custom/base/dist/css/common/pager.css">
    <link rel="stylesheet" href="//img.ifchange.com/toc/custom/base/dist/css/position/position-item.css">
    <link rel='stylesheet' href='//img.ifchange.com/toc/custom/base/dist/css/common.0dde919a.css'>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>


<style>
    .newsList-model{
        position: relative;
        top: 25px;
        line-height: 2.5rem;
        letter-spacing: 0.1875rem;
        word-wrap: break-word;
        word-break: break-all;
        overflow: hidden;
    }
    .newsList-model .newsList-model-head{
        font-size: 20px;
    }
    .newsList-model .newsList-model-context{
        font-size: 16px;
        color: rgb(101,101,101);
    }
    .newsList-page{
        position: relative;
        top: 25px;
        /*居中*/
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .mybutton{
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        width: 120px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        background-color: #ff8331;
    }
    .page{
        width: 100%;
    }
    .position-buttons{
        width:770px;
        height:auto;
        margin:0px auto;
    }
    @media(max-width:770px){
        .page-list .search-content{
            width: 100%;
        }
        .position-buttons,.box,.form-actions{
            width: 100%;
        }
        .position-item .position-info{
            line-height: 20px;
        }
    }
</style>



<!-- 导航 -->
<!--页眉-->
<div th:include="header"></div>

<!--页面上面一个图片-->
<img src="/img/2-2-1.png" class="img-responsive"/>

<!--图片和文字-->
<div class="container" style="background-color: white;">
    <div class="page page-list ">
        <div class="search-content">
            <div class="filter-search ">
                <div class="searchbox"  style="border:1px solid #337ab7;">
                    <i class="icon-Search"></i>
                    <i class="icon-delete js-delete" style="display: none"></i>
                    <form style="border: none;width: 100%;height: 100%;" method="GET" action="/searchposition/page/1" >
                        <input type="text" name="nameorworkplace" class="form-control"  placeholder="请输入你要搜索的职位或工作地点" ><!--th:value="${nameorworkplace}"-->
                        <button class="btn-primary mybutton" type="submit">搜索职位</button>
                    </form>
                </div>
            </div>
            <!-- 分享落地页 -->
            <div class="position-buttons">
                <div class="box">
                    <div class="form-actions">
                        <button th:each="positionColumn:${positionColumns}"  th:value="${positionColumn.columnid}" th:text="${positionColumn.columnname}"
                                type="button" class="btn" ></button>
                    </div>
                </div>
            </div>
            <script type="text/javascript" >
                $(document).ready(function(){
                    $(".btn").click(function(){
                        var a = $(this).attr("value");
                        location.href = "/searchpositionByColumn/page/1?columnid="+a;
                    });
                });
            </script>


            <div class="list-wrap" style="margin: 30px auto 0 auto;">
                <div class="pager-wrap">
                <span class="total-num" style="position: relative;top: -10px;">
                    共 <span class="num" th:text="${pageInfo.total}"></span>个职位
                </span>
                </div>
                <div class="position-item" th:each="position:${pageInfo.list}">
                    <div class="position-name clearfix">
                        <a class="name nowrap " th:href="'/position/recruitdetals/'+${position.positionid}" th:text="${position.positionname}" style="text-decoration:none;">
                            C++开发工程师
                        </a>
                    </div>
                    <!--<div class="salary nowrap">18-30K/月</div>-->
                    <div class="position-info clearfix">
                        <span class="city nowrap"  th:if="${position.workplace}==1">南昌<i class="icon-address" ></i></span>
                        <span class="city nowrap"  th:if="${position.workplace}==2">鄱阳<i class="icon-address" ></i></span>
                        <span th:text="${position.positionmajor}">专业</span>
                        <span th:text="${position.xueli}">本科及以上</span>
                        <span><a th:text="${position.numbers}">2</a>人</span>
                    </div>
                </div>
            </div>
            <!--<div class="pager-wrap">
                <span class="total-num " style="top: 160px">
                    共 <span class="num" th:text="${pageInfo.total}"></span>个职位
                </span>
            </div>-->
        </div>
    </div>

    <div class="col-lg-12">
        <div class="zxf_pagediv"></div>
    </div>
</div>
<script th:inline="javascript">
    var pagenum = [[${pageInfo.total}]];
    var curr = [[${pageInfo.pageNum}]];
    var prePage = [[${pageInfo.prePage}]];
    var nextPage = [[${pageInfo.nextPage}]];
    var pages = [[${pageInfo.pages}]];
    var nameorworkplace = [[${nameorworkplace}]];
    (function($){
        var zp = {
            init:function(obj,pageinit){
                return (function(){
                    zp.addhtml(obj,pageinit);
                    zp.bindEvent(obj,pageinit);
                }());
            },
            addhtml:function(obj,pageinit){
                return (function(){
                    obj.empty();
                    /*上一页*/
                    if (pageinit.current > 1) {
                        obj.append('<a href="/searchposition/page/'+ prePage +'?nameorworkplace='+nameorworkplace+'" class="prebtn">上一页</a>');
                    } else{
                        obj.remove('.prevPage');
                        obj.append('<span class="disabled">上一页</span>');
                    }
                    /*中间页*/
                    if (pageinit.current >4 && pageinit.pageNum > 4) {
                        obj.append('<a href="javascript:;" class="zxfPagenum">'+1+'</a>');
                        obj.append('<a href="javascript:;" class="zxfPagenum">'+2+'</a>');
                        obj.append('<span>...</span>');
                    }
                    if (pageinit.current >4 && pageinit.current <= pageinit.pageNum-5) {
                        var start  = pageinit.current - 2,end = pageinit.current + 2;
                    }else if(pageinit.current >4 && pageinit.current > pageinit.pageNum-5){
                        var start  = pageinit.pageNum - 4,end = pageinit.pageNum;
                    }else{
                        var start = [[${pageInfo.pageNum}]],end = [[${pageInfo.pages}]];
                    }
                    for (;start <= end;start++) {
                        if (start <= pageinit.pageNum && start >=1) {
                            if (start == pageinit.current) {
                                obj.append('<span class="current">'+ start +'</span>');
                            } else if(start == pageinit.current+1){
                                obj.append('<a href="/searchposition/page/'+ start +'?nameorworkplace='+nameorworkplace+'" class="zxfPagenum nextpage">'+ start +'</a>');
                            }else{
                                obj.append('<a href="/searchposition/page/'+ start +'?nameorworkplace='+nameorworkplace+'" class="zxfPagenum">'+ start +'</a>');
                            }
                        }
                    }
                    if (end < pageinit.pageNum) {
                        obj.append('<span>...</span>');
                    }
                    /*下一页*/
                    if (pageinit.current >= pageinit.pageNum) {
                        obj.remove('.nextbtn');
                        obj.append('<span class="disabled">下一页</span>');
                    } else{
                        obj.append('<a href="/searchposition/page/'+ nextPage +'?nameorworkplace='+nameorworkplace+'" class="nextbtn">下一页</a>');
                    }
                    /*尾部*/
                    obj.append('<span>'+'共'+'<b>'+pageinit.pageNum+'</b>'+'页，'+'</span>');
                    obj.append('<span>'+'到第'+'<input type="number" class="zxfinput" style="width: 45px;height: 25px;" value=""/>'+'页'+'</span>');
                    obj.append('<span class="zxfokbtn">'+'确定'+'</span>');
                }());
            },
            bindEvent:function(obj,pageinit){
                return (function(){
                    obj.on("click","a.prebtn",function(){
                        var cur = parseInt(obj.children("span.current").text());
                        var current = $.extend(pageinit, {"current":cur-1});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","a.zxfPagenum",function(){
                        var cur = parseInt($(this).text());
                        var current = $.extend(pageinit, {"current":cur});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","a.nextbtn",function(){
                        var cur = parseInt(obj.children("span.current").text());
                        var current = $.extend(pageinit, {"current":cur+1});
                        zp.addhtml(obj,current);
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }
                    });
                    obj.on("click","span.zxfokbtn",function(){
                        var cur = parseInt($("input.zxfinput").val());
                        /*var current = $.extend(pageinit, {"current":cur});
                        zp.addhtml(obj,{"current":cur,"pageNum":pageinit.pageNum});
                        if (typeof(pageinit.backfun)=="function") {
                            pageinit.backfun(current);
                        }*/
                        location.href="/searchposition/page/"+cur+"?nameorworkplace="+nameorworkplace;
                    });
                }());
            }
        }
        $.fn.createPage = function(options){
            var pageinit = $.extend({
                pageNum : pages,
                current : curr,
                backfun : function(){}
            },options);
            zp.init(this,pageinit);
        }
    }(jQuery));
    /*<![CDATA[*/

    $(".zxf_pagediv").createPage({
        pageNum: pages,
        current: curr,
        backfun: function(e) {
            //console.log(e);//回调
        }
    });
    /*]]>*/
</script>
<!--页脚-->
<div th:include="footer"></div>
</html>
