<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/zzsc.css">
<head>
	<meta charset="UTF-8" />
	<title>斯沃德教育科技股份有限公司</title>

</head>
<body>
<!--页眉-->
<div th:include="header"></div>

<div class="banner">
	<img src="../static/img/banner03.png">
</div>
<div class="ty1">
	<div class="tytit">

		<p class="tytit1">智慧校服  校园的安全保护伞</p>
		<p class="tyti2"><img src="../static/img/weizhi.png"> 智能考勤</p>
		<p class="tytit3">学生进出校门，通过人脸识别系统，智能芯片感知系统验证识别学生信息，自动记录并推送学生进出校园情况。</p>
	</div>
	<div class="container ">
		<img src="../static/img/zhinnengkaoqin.png">
	</div>

</div>
<div class="ty2">
	<div class="tytit">
		<DIV style="BORDER-TOP: #000 1px dashed;width:1170px;  margin:0 auto;"></DIV>
		<p class="tytit1">智慧校服  家长的爱心防护墙</p>
		<p class="tyti2"><img src="../static/img/weilan.png"> 电子围栏</p>
		<p class="tytit3">家长可设置电子围栏，孩子走出围栏即通知家长手机端，为学生安全筑起坚实的防护墙。</p>
	</div>
	<div class="container ">
		<div class="col-lg-5">
			<img src="../static/img/safe2.png">
		</div>
		<div class="col-lg-7">
			<img src="../static/img/safe1.png">
		</div>
		<div class="col-lg-7">
			<img src="../static/img/safe3.png">
		</div>
		<div class="col-lg-5 sos">
			<p>
				SOS紧急求救
			</p>
			<p>
				学生遇到危险或麻烦，可通过拍打或敲击校徽向校园安保人员和家长端求救。
			</p>
		</div>
	</div>

</div>
<div class="ty3">
	<div class="tytit">
		<DIV style="BORDER-TOP: #000 1px dashed;width:1170px;  margin:0 auto;"></DIV>
		<p class="tytit1">智慧校服  孩子的健康侦察兵</p>
		<p class="tyti2"><img src="../static/img/yundong.png"> 运动健康</p>
		<p class="tytit3">实时监测孩子的身体状况，对孩子每天的运动量、心率等各方面数据进行分析，更全面的了解孩子生长发育、体能情况。</p>
	</div>
	<div class="container">
		<img src="../static/img/paobu.png">
	</div>
</div>

<div class="ty4">
	<div class="tytit">

		<p class="tytit1">智慧校服  校园消费的金管家</p>
		<p class="tyti2"><img src="../static/img/nomoney.png"> 校园无现金消费</p>
		<p class="tytit3">学生通过指纹、指静脉及人脸识别在校园内实现各种消费支付，家长通过手机随时查看孩子每天在校的消费情况。</p>
	</div>
	<div class="container">
		<img src="../static/img/zhifu.png">
	</div>

</div>
<div class="zhengshu">
	<p class="tytit1">技术与专利</p>
	<div class="banner" style="margin: 35px 0px 0px 0px">
		<div class="swiper-container2">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="container">
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="container">
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
						<div class="col-lg-4">
							<a>
								<p>
									<img src="../static/img/zhengshu2.png">
								</p>

							</a>

						</div>
					</div>
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination2"></div>
		</div>
	</div>

</div>
<!-- 代码 开始 -->
<div id="leftsead" style="margin-top: 75px">
	<ul>
		<li>
			<a href="javascript:void(0)" class="youhui" style="text-decoration:none">
				<img src="../static/img/li2.png" width="47" height="49" class="shows" />
				<img src="../static/img/ewm222.png" width="145" class="2wm" style="display:none;margin:-100px 57px 0 0" />
			</a>
		</li>
		<li id="tel">
			<a href="javascript:void(0)" style="text-decoration:none">
				<div class="hides" style="width:250px;display:none;" id="tels">
					<div class="hides" id="p4">
						<img src="../static/img/li1.png">
					</div>
					<div class="hides" id="p3"><span style="color:#FFF;font-size:12px;" >服务热线：400-90-10086</span>
					</div>
				</div>
				<img src="../static/img/li1.png" width="47" height="49" class="shows" />
			</a>
		</li>
		<li id="btn">
			<a id="top_btn">
				<!--<div class="hides" style="width:161px;display:none ;">-->
				<!--<img src="../static/img/li3.png" width="47" height="49" />-->
				<!--</div>-->
				<img src="../static/img/li3.png" width="47" height="49"  />
			</a>
		</li>
	</ul>
</div>

<script>

    $(document).ready(function(){

        $("#leftsead a").hover(function(){
            if($(this).prop("className")=="youhui"){
                $(this).children("img.hides").show();
            }else{
                $(this).children("div.hides").show();
                $(this).children("img.shows").hide();
                $(this).children("div.hides").animate({marginRight:'0px'},'0');
            }
        },function(){
            if($(this).prop("className")=="youhui"){
                $(this).children("img.hides").hide();
            }else{
                $(this).children("div.hides").animate({marginRight:'-163px'},0,function(){$(this).hide();$(this).next("img.shows").show();});
            }
        });

        $("#top_btn").click(function(){if(scroll=="off") return;$("html,body").animate({scrollTop: 0}, 600);});

        //右侧导航 - 二维码
        $(".youhui").mouseover(function(){
            $(this).children(".2wm").show();
        })
        $(".youhui").mouseout(function(){
            $(this).children(".2wm").hide();
        });


    });


</script>
<!-- 代码 结束 -->

<!--页脚-->
<div th:include="footer" style="margin-top: 0px"></div>
</body>
</html>