<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/head.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mstyle.css">
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/swiper.min.css" />

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>文章详情</title>
    <style>
        .header{
            background-color: #003399;
        }
        .newstitle{
            margin-top: 19px;
            margin-bottom: 23px;
            font-size: 24px;
            letter-spacing: 3px;
        }
        img{
            max-width: 100%;
            height: auto;
        }
        .firstCon{
            height: auto;
            position: relative;
        }
        .firstCon .container{
            background-color: #FFFFFF;
            margin-top: -150px;
            position: relative;
            /*bottom: 170px; 用这个会导致页面留空白。*/
        }
        #newscontext p{
            line-height: 2.5rem;
            letter-spacing: 0.1875rem;/*字体间距*/
        }
        .container{
            width: 90%;
        }
        @media screen and (max-width:320px) {
            .firstCon .container{
                bottom: 0px;
            }
            #newscontext p{
                line-height: 20px;
                letter-spacing: 3px;/*字体间距*/
                font-size: 16px;
            }
        }

        @media screen and (max-width:768px) {
            .firstCon .container{
                margin-top: 0;
            }
            #newscontext p{
                line-height: 20px;
                letter-spacing: 3px;/*字体间距*/
                font-size: 16px;
            }
        }
    </style>
</head>
<body style="background-color: rgb(242,242,242);">
<!--页眉-->
<div>
<header class="header">
    <div class="container clearfix">
        <div class="fl left">
            <a href="/" ><img src="/static/image/logo_new1.png" alt="" class="img1" /></a>
            <a href="/" ><img src="/static/image/logo_new2.png" alt="" class="img2" /></a>
        </div>
        <div class="fr nav">
            <ul class="navbar_nav" data-in="fadeInDown" data-out="fadeOutUp">
                <li class="active">
                    <a href="/index">斯沃德首页</a>
                </li>

                <li class="dropdown">
                    <a href="/about">关于我们</a>
                    <div class="dropdown_menu">
                        <a href="/about">企业介绍</a>
                        <a href="/human">加入我们</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a href="/productlist">产品体验</a>
                    <div class="dropdown_menu">
                        <a href="/productlist">产品画册</a>
                        <a href="/zhihui">智慧校服</a>
                    </div>
                </li>

                <li class="dropdown">
                    <a>合作共赢</a>
                    <div class="dropdown_menu">
                        <a href="/cooperation">合作共赢</a>
                        <a href="/case">合作案例</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="/newsIndex">新闻资讯</a>
                    <div class="dropdown_menu">
                        <a href="/newsIndex">新闻首页</a>
                        <a href="/newsList/1">品牌动态</a>
                        <!--<a href="publicWelfare">公益资讯</a>
                        <a href="culture">校服文化</a>-->
                    </div>
                </li>
                <li>
                    <a href="/onlineService">在线服务</a>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0)" id="navToggle">
            <span></span>
        </a>
    </div>
</header>
<!--移动端的导航-->
<div class="m_nav">
    <div class="top clearfix">
        <img src="/static/image/closed.png" alt="" class="closed" />
    </div>
    <div class="logo">
        <a href="index"><img src="/static/image/logo2.jpg" alt="" /></a>
    </div>
    <ul class="ul" data-in="fadeInDown" data-out="fadeOutUp">
        <li class="active">
            <a href="/index">斯沃德首页</a>
        </li>
        <li class="dropdown">
            <a >
                关于我们
            </a>
            <div class="dropdown_menu">
                <a href="/about">企业介绍</a>
                <a href="/human">加入我们</a>
            </div>
        </li>
        <li class="dropdown">
            <a>产品体验</a>
            <div class="dropdown_menu">
                <a href="/productlist">产品画册</a>
                <a href="/zhihui">智慧校服</a>
            </div>
        </li>
        <li class="dropdown">
            <a>合作共赢</a>
            <div class="dropdown_menu">
                <a href="/cooperation">合作共赢</a>
                <a href="/case">合作案例</a>
            </div>
        </li>
        <li class="dropdown">
            <a>新闻资讯</a>
            <div class="dropdown_menu">
                <a href="/newsIndex">新闻首页</a>
                <a href="/newsList">品牌动态</a>
                <!--<a href="publicWelfare">公益资讯</a>
                <a href="culture">校服文化</a>-->
            </div>
        </li>
        <li>
            <a href="/onlineService">在线服务</a>
        </li>
    </ul>
</div>
</div>
<div><!--<p style="margin-bottom: 60px"></p>-->
    <img src="/static/img/news.png" class="img-responsive">
</div>
<div class="firstCon">
<div class="container" style="background-color: #fff">
    <div class="col-lg-1"></div>

    <div class="col-lg-10" style="background-color: #FFFFFF; padding: 0px;">
        <div class="col-lg-2"></div>

        <div class="col-lg-8" style="text-align: center;">
            <h4 class="newstitle" id="nTitle">upload.thymeleafPath = upload.thymeleafPath =</h4>
            <span style="font-size: 16px;" id="nTime">2019-12-04</span>
        </div>

        <div class="col-lg-2"></div>
        <div class="col-lg-12" style="border-bottom: solid 1px silver;"></div>

        <div class="col-lg-12" id="newscontext"></div>
    </div>

    <div class="col-lg-1"></div>
</div>
</div>
    <div style="margin:0 20px"></div>
<input value="6983-2019-12-04-15-30-48" type="hidden" id="newsid"/>
<!--页脚-->
<div>
<div class="footer" style="position:relative;margin-top: 50px">
    <div class="container">
        <div class="col-lg-6 footerL">
            <p class="footerlogo">
                <img src="/static/img/logowhite.png">
            </p>
            <p class="address">
                营销中心：<span id="publicaddress" class="address"></span><!--我太难了 span标签的赋值方法：span.html（"赋值"）。取值用 .text()-->
            </p>
            <p class="address">
                公司厂址：<span id="publicfactoryaddress" class="address"></span>
            </p>
            <p class="hotline">
                全国统一服务热线：<span id="publictelephone" class="hotline"></span>

            </p>
        </div>
        <div class="col-lg-4 footerM">
            <p class="footlink">
                <a>斯沃德首页</a>  <a>关于我们 </a> <a> 产品体验  </a> <a>合作共赢 </a>
                <a>新闻资讯 </a> <a> 在线服务</a>
            </p>
            <p class="beianhao">
                备案号：赣ICP备17008157号
            </p>
        </div>
        <div class="col-lg-2 footewm">
            <img src="/static/img/ewm2.png">
            <p style="text-align:center">斯沃德校服</p>
        </div>
    </div>
</div>
</div>

<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/loadPublicInfo.js"></script>
<script>
    $(document).ready(function () {
        var id = $("#newsid").val();
        $.get("/article/"+id,function (data) {
            $("#newscontext").append(data.articlecontext);
            $("#nTitle").text(data.articletitle)
            $("#nTime").text(data.createtime);
        })
    })
    $(function(){
        //超过一定高度导航添加类名
        var nav=$("header"); //得到导航对象
        var win=$(window); //得到窗口对象
        var sc=$(document);//得到document文档对象。
        win.scroll(function(){
            if(sc.scrollTop()>=100){
                nav.addClass("on");
            }else{
                nav.removeClass("on");
            }
        })

        //移动端展开nav
        $('#navToggle').on('click',function(){
            $('.m_nav').addClass('open');
        })
        //关闭nav
        $('.m_nav .top .closed').on('click',function(){
            $('.m_nav').removeClass('open');
        })

        //二级导航  移动端
        $(".m_nav .ul li").click(function() {
            $(this).children("div.dropdown_menu").slideToggle('slow')
            $(this).siblings('li').children('.dropdown_menu').slideUp('slow');
        });

    })
</script>
<script>
    var mySwiper2 = new Swiper ('.swiper-container2', {
        loop: true, // 循环模式选项
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination2',
        },
        autoplay:true,
        speed:1000,
    })
</script>
</body>
</html>